@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

/*Overall*/

.App {
  text-align: center;
  color:black;
  justify-content:center;
  font-family:Manrope, sans-serif;
  background: url(./assets/background-01.png) center center; 
  background-size:cover; 
  background-repeat: repeat-y;
  min-height: 100vh;
  /* max-height: 100%; */

  
}
header{
  margin:0 auto;
  width: 80vw;
  padding-top:20px;
}

main{
  padding-bottom:30px;
}



/*Nav---------------------------------------------------*/

#main-Nav{
  padding-top:50px;
  padding-bottom:20px;
  display:flex;
  justify-content:space-around;
  align-items: center;
  letter-spacing:1px;
  height:80px;
  border-radius:30px;
  border-top-right-radius:30px;
  border-top-left-radius:30px;
  background-color: var(--md-sys-color-primary);
  /* width: 100vw; */
  opacity:.9;
  margin-bottom:50px;
}


#main-Nav a{
  text-decoration:none;
}

#main-name{
  margin: 0 auto;
  font-size:2em;
  letter-spacing:.3em;
  font-weight:500;
  width:fit-content;
  color: var(--md-sys-color-primary-container);
  padding-bottom:20px;
}

/*HomeGrid---------------------------------------------*/
.gridWrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.gridWrapper div{
  width: 35%;
}
.gridWrapper div img{
  align-items:center;
  width: auto;
  max-width:25vw;
  padding:20px;
  margin: 0 auto;
  margin: 30px;
  margin-bottom:20px;
}


.gridWrapper div img:hover{
  scale:calc(1.2);
  background-color: var(--md-sys-color-secondary-container);
  opacity:.6;
  /* border: 2px solid black; */
  border-radius:30px;
}
/*AboutMe---------------------------------------------*/
#about button{
  text-decoration:none;
  background-color:var(--md-sys-color-surface);
  border-radius:10px;
  padding:0 3px;
  color: var(--md-sys-color-tertiary);
  font-family:Manrope, sans-serif;
  font-weight:900;
  
}

#about button:hover{
  scale: calc(1.1);
 
}

/*Resume---------------------------------------------*/

#resume, #about, #contact-page, #project-page{
  border-radius:30px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-tertiary);
  letter-spacing:.1em;
  width:75%;
  
}
#resume h1, #about h1, #contact-page h1, #project-page h1{
  letter-spacing: .2em;
  font-weight:800;

}

.res-about{
  padding:0 100px;
  text-align:left;
}

#resume a{
  color: var(--md-sys-color-primary);
  border-radius:10px;
}
#resume a:hover{
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  padding:3px;
}

#resume .bullet{
  font-weight:bold;
}
#resume ul{
  padding:0 100px;
  text-align:left;
}
#resume h4{
  margin-bottom:0px;
}

.res-title{
  background-color: rgba(255,255,255,.5);
  width:fit-content;
  margin-left: 5%;
  border-radius:10px;
  padding:5px;
}

.res-work-title{
  text-align:left;
  margin-left:8%;
  line-height:10%;
  margin-bottom:0px;
}
/*Contact-------*/
.contact-grid{
  display:grid;
  grid-template-columns: repeat(2,50%);
  padding:20px;
  grid-gap:30px;
  justify-content:center;

}
.contact-grid div{
  background-color:var(--md-sys-color-on-secondary);
  border-radius:30px;
  padding:40px;
  
}
.contact-grid div:hover{
  scale:calc(1.05)
}

.contact-grid a{
  text-decoration:none;
  color:var(--md-sys-color-on-surface);
  font-weight:500;
}


/*-Projects-----------*/
.project-grid{
  display:grid;
  width: 75%;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  padding:20px;
  grid-gap:30px;
  justify-content:center;
  border-radius:30px;
  margin: 0 auto;
  grid-gap: 40px;
 
}
.project-grid div{
  width:90%;
  height:90%;
  opacity:1;
  background-color:rgba(255,255,255,.5);
  box-shadow: 1px 1px 2px gray;
  padding:20px;
  border-radius:30px;
  
}

.project-grid div:hover{
  border: 2px solid white;
  scale: calc(1.1)
}
.project-grid a{
  text-decoration:none;
  color: var(--md-sys-color-tertiary);
}

.project-grid img{
   border-radius:30px;
   max-width:80%;
   padding:2px;
}

/*****Buttons*****/



.navigation-btn:hover,
.navigation-btn a:hover,
#main-Nav button:hover{
  scale: calc(1.2);
}

#main-Nav button:active,
.navigation-btn:active, 
.navigation-btn a:active{
  box-shadow: 3px 3px 8px gray;
  transform: scale(.98);
  opacity: 0.7;
}
#download a{
  text-decoration: none;
  font-family:Manrope, sans-serif;
  border-radius:10px;
  scale:calc(1.1)
}

#download{
  margin: 0 auto;
  border-radius:10px;
  border: 1px solid var(--md-sys-color-on-tertiary-container);
  height:3em
}

.navigation-btn, 
#main-Nav button{
  text-transform: uppercase;
  font-family: Manrope, sans-serif;
  font-size: .8vw;
  font-weight:600;
  border-radius: 10px;
  letter-spacing: .5em;
  margin-bottom:30px;
  padding:.5em;
  border: 1px solid var(--md-sys-color-outline);
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
  box-shadow: 1px 1px 3px lightgray;
  opacity:.8;
}


#main-Nav button{
  width:100%;
  font-size:.8vw;
  box-shadow: 1px 1px 3px gray;
  color: var(--md-sys-color-on-primary-container);
  text-decoration:none;
  font-weight:800;
  background-color: var(--md-sys-color-primary-container);
}


#skills{
  height: auto;
  width:100vw;
  background-color: var(--md-sys-color-primary-container);
  opacity: .7;
  padding: 5px;
  margin-top:50px;
  
 
}
.skill-header{
  font-weight: 300;
  margin-bottom:0px;
  padding-left:3vw;
  text-align:left;
}
.icons{
  display:flex;
  justify-content:flex-start;
  width:100vw;
  flex-wrap:wrap;
  margin-top:1vw;
  
}
.icon{
  padding:1vh 3vw 0vh 3vw;
  font-size: 5vw;
  margin:5px;
  margin-bottom:4vh;
  height:auto;
  width:auto; 
}

.skill-caption{
  font-size:15px;
  display:block;
  font-weight:400;
}




/******BREAKPOINTS******/
@media only screen and (max-width: 700px) {
  .navigation-btn{
    width:80vw;
    font-size: 10px;

  }
  #main-Nav{
      padding-top:50px;
      display:inline;
      padding-bottom:40px;
      align-items: center;
      letter-spacing:1px;
      height:80px;
      border-radius:30px;
      background-color: transparent;
      /* width: 100vw; */
      opacity:.9;
      margin-bottom:50px;
      font-size:20px;
  }
    #main-Nav button{
      height:30px;
      font-size:10px;
    }
  
    #main-name{
        margin: 0 auto;
        font-size:1em;
        letter-spacing:.3em;
        font-weight:500;
        width:100%;
        color: var(--md-sys-color-primary-container);
        padding-bottom:0px;
        padding:5px;
        margin-bottom:20px;
        background-color:var(--md-sys-color-on-primary-container);
      }
    

    #resume, #about, #contact-page, #project-page{
      border-radius:30px;
      /* margin: 10px; */
      padding: 20px;
      background-color: var(--md-sys-color-surface-variant);
      color: var(--md-sys-color-tertiary);
      letter-spacing:.1em;
    }
    .res-about{
      padding:0 0px;
      text-align:center;
    }
    
    #resume a{
      color: var(--md-sys-color-primary);
      border-radius:10px;
    }
    #resume a:hover{
      background-color: var(--md-sys-color-primary);
      color: var(--md-sys-color-on-primary);
      padding:5px;
    }
    
    #resume .bullet{
      font-weight:bold;
    }
    #resume ul{
      padding:0 0px;
      text-align:left;
    }
    #resume h4{
      margin-bottom:0px;
    }
    
    .res-title{
      background-color: rgba(255,255,255,.5);
      width:fit-content;
      margin-left: 5%;
      border-radius:10px;
      padding:5px;
    }
    
    .res-work-title{
      text-align:left;
      margin-left:0%;
      line-height:10%;
      line-height:1.2em;
      /* margin-bottom:0px; */
    }
    .gridWrapper div{
      width:90%
    }
    .gridWrapper div img{
      align-items:center;
      width: auto;
      max-width:80vw;
      padding:20px;
      margin: 0 auto;
      margin: 30px;
      margin-bottom:20px;
    }
  }
@media only screen and (max-width: 500px) {
 
    .gridWrapper div img{
      align-items:center;
      width: auto;
      max-width:80vw;
      padding:20px;
      margin: 0 auto;
      margin: 30px;
      margin-bottom:20px;
    }

    .project-grid{
      display:grid;
      width: 70vw;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding:5px;
      grid-gap:30px;
      /* margin: 0 auto; */
      justify-content:center;
      border-radius:30px;
 
     
    }
    .project-grid div{
      width:90%;
      height:90%;
      opacity:1;
      background-color:rgba(255,255,255,.5);
      box-shadow: 1px 1px 2px gray;
      padding:20px;
      border-radius:30px;
      
    }
    .contact-grid{
      display:grid;
      grid-template-columns: 1fr;
      padding:20px;
      grid-gap:30px;
      justify-content:center;
    }
    
 }

     

  

